{% extends 'base_template.html' %}

{% block content %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Branches</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                        <li class="breadcrumb-item active">Branches</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <!-- left column -->
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Add Branch</h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <form method="POST">
                            {% csrf_token %}
                            <div class="card-body row">
                                <div class="form-group col-sm-4">
                                    <label for="BranchName">Branch Name</label>
                                    <input type="text" class="form-control" id="BranchName"
                                           name="branch_name" placeholder="Enter Branch Name"
                                           value="{{ branch_object.branch_name }}" required>
                                </div>
                                <div class="form-group col-sm-4">
                                    <label for="BranchLocation">Branch Location</label>
                                    <input type="text" class="form-control" id="BranchLocation"
                                           name="location" placeholder="Branch Location"
                                           value="{{ branch_object.location }}" required>
                                </div>
                                <div class="form-group col-sm-4">
                                    <label for="BranchPhoneNumber">Branch Contact Number</label>
                                    <input type="number" class="form-control" id="BranchPhoneNumber"
                                           name="phone_number" placeholder="Branch Contact Number"
                                           value="{{ branch_object.phone_number }}" required>
                                </div>
                            </div>
                            <!-- /.card-body -->
                            {% for field in branch_form %}
                                {% for error in field.errors %}
                                    <div style="color: red; text-align: center; list-style: none">
                                        <p>error: {{ error | striptags }}</p>
                                    </div>
                                {% endfor %}
                            {% endfor %}

                            {% if branch_form.non_field_errors %}
                                <div style="color: red; text-align: center; list-style: none;">
                                    <p>non field error: {{ branch_form.non_field_errors | striptags }}</p>
                                </div>
                            {% endif %}

                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary float-right">Submit</button>
                            </div>
                        </form>
                    </div>
                    <!-- /.card -->

                    <div class="col-12">
                        <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title">Branch list</h3>
                            </div>

                            <!-- /.card-header -->
                            <div class="card-body">
                                <table id="example2" class="table table-bordered table-hover">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Branch Name</th>
                                        <th>Branch Location</th>
                                        <th>Phone Number</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for branch in branches %}
                                        <tr>
                                            <td>{{ branch.id }}</td>
                                            <td>{{ branch.branch_name }}</td>
                                            <td>{{ branch.location }}</td>
                                            <td>{{ branch.phone_number }}</td>
                                            <td>
                                                <div class="row">
                                                    <form method="GET" action="{% url 'branch_edit' branch.id %}">
                                                        <button type="submit" class="btn">
                                                            <a><span class="fas fa-edit cursor-pointer"></span></a>
                                                        </button>
                                                    </form>
                                                    ||
                                                    <form method="POST" action="{% url 'branch_delete' branch.id %}">
                                                        {% csrf_token %}
                                                        <button type="submit" class="btn">
                                                            <a><span
                                                                    class="fas fa-trash cursor-pointer text-red"></span></a>
                                                        </button>
                                                    </form>
                                                </div>

                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                    <!--
                                    <tfoot>
                                    <tr>
                                        <th>Rendering engine</th>
                                        <th>Browser</th>
                                        <th>Platform(s)</th>
                                        <th>Engine version</th>
                                        <th>CSS grade</th>
                                    </tr>
                                    </tfoot>
                                    -->
                                </table>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->

                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock content %}
