<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="" class="brand-link">
        <img src="https://cdn.dribbble.com/users/31864/screenshots/3666062/attachments/819877/2.jpg"
             alt="SMS Logo" class="brand-image img-circle elevation-3"
             style="opacity: .8">
        <span class="brand-text font-weight-light">SMS</span>
    </a>
    <!-- / Brand Logo -->

    <!-- Sidebar -->
    <div class="sidebar">


        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                     with font-awesome or any other icon font library -->
                <li class="nav-item">
                    <a href="#" class="nav-link  active ">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>
                            Something
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link ">
                        <i class="nav-icon fas fa-th-list"></i>
                        <p>
                            Something
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link ">
                        <i class="nav-icon fas fa-briefcase"></i>
                        <p>
                            Something
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link ">
                        <i class="nav-icon fas fa-retweet"></i>
                        <p>
                            Something
                        </p>
                    </a>
                </li>
                <li class="nav-header">SOMETHING</li>
                <li class="nav-item">
                    <a href="" class="nav-link ">
                        <i class="nav-icon fas fa-chart-line"></i>
                        <p>
                            Something
                            <span class="right badge badge-danger">---</span>
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link ">
                        <i class="nav-icon fas fa-city"></i>
                        <p>
                            Something
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link" target="_blank">
                        <i class="nav-icon fas fa-chart-pie"></i>
                        <p>
                            Something
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link ">
                        <i class="nav-icon fas fa-book"></i>
                        <p>
                            Something
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="$" class="nav-link ">
                        <i class="nav-icon fas fa-binoculars"></i>
                        <p>
                            Something
                        </p>
                    </a>
                </li>
                <li class="nav-header">SOMETHING</li>
                <li class="nav-item">
                    <a href="#" class="nav-link ">
                        <i class="nav-icon fas fa-calculator"></i>
                        <p>
                            Something
                        </p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="" class="nav-link ">
                        <i class="nav-icon far fa-chart-bar"></i>
                        <p>
                            Something
                        </p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="#" class="nav-link ">
                        <i class="nav-icon fas fa-search-dollar"></i>
                        <p>
                            Something
                        </p>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- / sidebar-menu -->
    </div>
    <!-- / sidebar -->
</aside>
<!-- / Main Sidebar Container -->
