<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="https://cdn.dribbble.com/users/31864/screenshots/3666062/attachments/819877/2.jpg">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="something something something something"/>
    <title>{{ title }}</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'snippets/header_imports.html' %}
</head>
{% block main %}
{% endblock main %}
{% include 'snippets/footer_imports.html' %}
</html>